$color3: #fff;
$color1: #5f84fb;
$color2: #00ff9b;
$color3-d: #fff;
$color1-d: #2e1d65;
$color2-d: #b290ff;

.block-center {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.wrap {
  font-weight: bold;
  color: $color1-d;
  h2 {
    text-align: center;
    text-shadow: 1px 2px $color3;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: #f3f0f1;
    margin: 1rem;
    width: 20%;
    height: 200px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    .symbol {
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    .price {
      font-size: 1.2rem;
      flex-grow: 0.5;
    }
    .volume {
      font-size: 1rem;
    }
  }
}
p {
  margin: 0;
}
