<div class="container list-container placeholder" [hidden]="hidden">
  <h1>CryptoAPI: Loading ...</h1>
  <ul>
    <li *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <p class="symbol">SYMBOL</p>
      <br />
      <p class="price">...</p>
      <br />
      Volume:
    </li>
  </ul>
</div>
<div class="container list-container" [hidden]="!hidden">
  <h1>CryptoAPI: x{{ unitSymbol }}</h1>
  <ul *ngIf="datas">
    <li *ngFor="let dat of datas">
      <p class="symbol">{{ dat[0].slice(1) }}</p>
      <br />
      <p class="price">{{ dat[7] | currency }}</p>
      <br />
      Volume:
      <p class="volume">{{ vol(dat) | currency }}</p>
    </li>
  </ul>
</div>
