$color3: #fff;
$color1: #5f84fb;
$color2: #00ff9b;
$color3-d: #fff;
$color1-d: #2e1d65;
$color2-d: #b290ff;

.card {
  padding: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    // background: linear-gradient(to bottom, $color2, #fff);
    // padding: 1rem;
    // margin: 1rem;
    width: 20%;
    height: 200px;
    // border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    // box-shadow: 0.1rem 0.3rem $color1-d;

    background: #f3f0f1;
    position: relative;
    margin: 1rem 2rem;
    border-radius: 2rem;
    padding-left: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);

    p,
    h1 {
      margin: 0;
      font-weight: bold;
      color: $color1-d;
    }

    p.symbol {
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    p.price {
      font-size: 1.2rem;
      flex-grow: 1;
    }
    p.volume {
      font-size: 1rem;
    }
  }
}
