<div class="container placeholder" [hidden]="hidden">
  <h2>CryptoAPI: Loading ...</h2>
  <ul>
    <li *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
      <app-loading class="block-center"></app-loading>
    </li>
  </ul>
</div>
<div class="container" [hidden]="!hidden">
  <h2>CryptoAPI: x{{ unitSymbol }}</h2>
  <ul *ngIf="datas">
    <li *ngFor="let dat of datas">
      <br />
      <p class="symbol">{{ dat[0].slice(1) }}</p>
      <p class="price">{{ dat[7] | currency }}</p>
      <hr />
      Volume:
      <p class="volume">{{ vol(dat) }}</p>
    </li>
  </ul>
</div>
