<div class="container list-container placeholder" [hidden]="hidden">
  <h1>Forex API: Loading ...</h1>
  <ul>
    <li *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
      <div class="container">
        <br />
        <p class="symbol">SYMBOL</p>
        <br />
        <hr />
        <br />
        <p class="symbol">...</p>
      </div>
    </li>
  </ul>
</div>

<div class="container list-container" [hidden]="!hidden">
  <h1>Forex symbols: x/USD USD/x</h1>
  <ul *ngIf="val">
    <li *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
      <div class="container">
        <br />
        <p class="symbol">{{ key[i] }}</p>
        <br />
        <hr />
        <br />
        <p class="symbol">{{ val[i] }}</p>
      </div>
    </li>
  </ul>
</div>
