$color3: #fff;
$color1: #5f84fb;
$color2: #00ff9b;
$color3-d: #fff;
$color1-d: #2e1d65;
$color2-d: #b290ff;

.block-center {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: linear-gradient(to bottom, #ddd, #fff);
    margin: 1rem;
    width: 20%;
    height: 200px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.8),
      4px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    .symbol {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    .price {
      font-size: 1rem;
    }
  }
}
p {
  margin: 0;
}

.container {
  font-weight: bold;
  color: $color1-d;
}
