<div class="container" [hidden]="hidden">
  <h2>Forex API: Loading ...</h2>
  <ul>
    <li *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]">
      <app-loading class="block-center"></app-loading>
    </li>
  </ul>
</div>

<div class="container" [hidden]="!hidden">
  <h2>Forex symbols: xUSD USDx</h2>
  <ul *ngIf="val">
    <li *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]">
      <div class="container">
        <br />
        <p class="symbol">{{ key[i] }}</p>
        <br />
        <hr />
        <br />
        <p class="symbol">{{ val[i] }}</p>
      </div>
    </li>
  </ul>
</div>
