$color3: #fff;
$color1: #5f84fb;
$color2: #00ff9b;
$color3-d: #000;
$color1-d: #2e1d65;
$color2-d: #b290ff;
$color0: #f3f0f1;

.logo__text span {
  color: $color2;
}

.root__container {
  width: 100vw;
  height: 140vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.2fr auto;
  position: relative;
  user-select: none;
}

/*
================
    Header
================
*/

/*
    Slide Menu
= = = = = = = = =
*/
.side-menu__container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 25;
  user-select: none;
}

.side-menu__container-active {
  pointer-events: auto;
}

.side-menu__container::before {
  content: "";
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0c1066;
  opacity: 0;
  transition: opacity 300ms linear;
  will-change: opacity;
}

.side-menu__container-active::before {
  opacity: 0.3;
}

.slide-menu {
  box-sizing: border-box;
  transform: translateX(-103%);
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 90%;
  max-width: 26rem;
  background-color: $color3;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 1fr;
  grid-gap: 1rem;
  transition: transform 300ms linear;
  will-change: transform;
}

.slide-menu-active {
  transform: none;
}

.menu-header {
  // slide-menu-header #00ff9b, #5f84fb);
  background: linear-gradient(to right, $color2, $color1);
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;

  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "greeting greeting" "image details";
  box-sizing: border-box;
  width: 100%;
  align-content: center;
  color: $color3;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.menu-header-dark {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.menu-body {
  background: linear-gradient(to bottom, $color2, #fff);
  display: grid;
  grid-template-rows: 20% 30% 30% 20%;
}

.menu-body-dark {
  background: linear-gradient(to top, #30cfd0 0%, #fff 100%);
}

.greeting__text {
  grid-area: greeting;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-top: 1rem;
  justify-self: center;
  align-self: center;
}

.account-details {
  grid-area: details;
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
  align-self: center;
}

.name__text {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.email__text {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.menu-body {
  display: grid;
  width: 100%;
}

.symbol-image__container {
  grid-area: image;
  margin-right: 0.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color3;
  background: url("../img/btc.png") no-repeat center center;
  align-self: center;
  margin-left: 2rem;
}

.symbol__image {
  max-width: 4rem;
}

/*Header*/
.main__header {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 5.5fr 2.5fr;
  grid-template-rows: 1fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  height: 4rem;
  margin: 0;
  align-items: center;
  transition: background-color 500ms linear;
  animation: 1s ease-in-out 0ms 1 fadein;
  background: linear-gradient($color1, $color2);
  color: $color3-d;
}

.main__header-dark {
  background: linear-gradient($color1-d, $color2-d);
  color: $color3;
}

.toggle-button__container {
  cursor: pointer;
  position: relative;
  margin: 0 0.5rem;
}

.mode-toggle__input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mode-toggle__bg {
  height: 1rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(155, 245, 155);
  display: inline-block;
  transition: background-color 300ms linear;
}

.mode-toggle__circle {
  height: 1.4rem;
  width: 1.4rem;
  background-color: $color0;
  position: absolute;
  top: -0.1rem;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
  transition: left 300ms linear;
  left: -0.1rem;
}

.mode-toggle__circle-checked {
  background-color: $color0;
  left: 1.4rem;
}

.mode-toggle__bg-checked {
  background-color: rgb(199, 0, 0);
}

.mode-toggle__text {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*Content*/
.left__section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 15rem;
}

.date__text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline;
  margin: 0.5rem 0;
}

/*SVGs*/
.hamburger__icon {
  // background: url("../icons/menu-p.png");
  position: relative;
  z-index: 35;
  height: 1rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.logo__icon {
  // background: url("../icons/weenie.png");
  padding-left: 15rem;
}

.logo__text {
  text-transform: uppercase;
  color: $color1-d;
}

.logo__text li a {
  color: $color1-d;
}
.logo__text-dark li a {
  color: $color3;
}

.hamburger__icon__fill {
  fill: $color3;
}

/*
================
    Body
================
*/

.main-container__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.4;
  background: linear-gradient(to bottom, $color2, $color1);
  transition: opacity 300ms linear;
}

.main-container__bg-dark {
  opacity: 1;
  background: linear-gradient(to bottom, $color2-d, $color1-d);
  transition: opacity 300ms linear;
}

/*
================-
    Footer
================
*/
.main__footer {
  background: transparent;
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  z-index: 100;
}

.copyright__text {
  letter-spacing: 0.1rem;
  color: $color3;
}

@media only screen and (max-width: 300px) {
  .slide-menu {
    width: 100%;
  }
}
