$color3: #fff;
$color1: #64a7fb;
$color2: #6ee6dffb;
$color3_d: #fff;
$color1_d: #2e1d65;
$color2_d: #b290ff;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: linear-gradient($color2, $color3);
    padding: 1em;
    margin-right: 10px;
    width: 20%;
    height: 200px;
    margin-bottom: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px $color2;

    p {
      margin: 0;
      font-weight: bold;
    }

    p.symbol {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    p.price {
      font-size: 0.9rem;
      flex-grow: 1;
    }
    p.volume {
      font-size: 0.7rem;
    }
  }
}
