$secondary: rgba(65, 102, 188, 0.6);

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: linear-gradient($secondary, white);
    padding: 1em;
    margin-right: 10px;
    width: 20%;
    height: 200px;
    margin-bottom: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    p {
      font-weight: bold;
      margin: 0;
    }

    p.name {
      font-weight: bold;
      font-size: 1.2rem;
    }
    p.country {
      text-transform: uppercase;
      font-size: 0.9rem;
      flex-grow: 1;
    }
  }
}
