@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

$color3: #fff;
$color1: #5f84fb;
$color2: #00ff9b;
$color3-d: #fff;
$color1-d: #2e1d65;
$color2-d: #b290ff;

body {
  margin: 0;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

header {
  background: linear-gradient($color1, $color2);
  padding: 1em 0;

  a {
    // color: $color1-d;
    text-decoration: none;
    font-weight: bold;
  }
  // a.logo {
  // }

  nav {
    // float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1.2em;

        &:hover {
          border-bottom: thin solid $color1-d;
        }
      }
    }
  }
}

h1 {
  margin-top: 2em;
}
