@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

$primary: rgb(65, 102, 188);
$secondary: rgba(65, 102, 188, 0.6);

body {
  margin: 0;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: linear-gradient($primary, white);
  padding: 1em 0;

  a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
  }
  a.logo {
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          color: black;
          background: linear-gradient($secondary, white);
          border-bottom: thin solid black;
        }
      }
    }
  }
}

h1 {
  margin-top: 2em;
}
