$color3: #fff;
$color1: #5f84fb;
$color2: #00ff9b;
$color3-d: #000;
$color1-d: #2e1d65;
$color2-d: #b290ff;
$color0: #f3f0f1;

span {
  font-weight: bold;
  background: lightgray;
  padding: 0.3em 0.8em;
  cursor: pointer;
}

.play-container {
  padding: 3em;
  border: 1px solid lightgray;
  margin-bottom: 1em;

  input {
    padding: 1em;
    margin-bottom: 2em;
  }
}
.active {
  background-color: yellow;
  border: 4px solid black;
}
.notactive {
  background-color: lightgray;
}

.welcome__text {
  text-align: center;
  letter-spacing: 0.1rem;
}

// ******@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.welcome-container {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.welcome-shadow {
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.8),
    4px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  .btn-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .btn {
    width: 18rem;
    height: 5em;
    background: #f3f0f1;
    position: relative;
    margin: 0.5rem 1rem;
    border-radius: 2rem;
    padding-left: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  a {
    line-height: 6rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
  .btn-primary {
    border-radius: 10px 40px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
    a {
      color: #6f6cde;
    }
    &:hover {
      opacity: 0.9;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    }
    &:active {
      opacity: 0.9;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      color: #79e3b6;
      a {
        color: #79e3b6;
      }
    }
  }
  .btn-disable {
    border-radius: 10px 40px;
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
    a {
      color: #6f6cde;
    }
  }
  .btn-secondary {
    border-radius: 10px 40px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #79e3b6;
    a {
      color: #79e3b6;
    }
    &:hover {
      opacity: 0.9;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
  .btn-warning {
    border-radius: 10px 40px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    color: red;
    a {
      color: red;
    }
    &:hover {
      opacity: 1;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}
@media screen and (max-width: 300px) {
  .welcome-shadow {
    display: none;
  }
}
