<div class="container welcome-container">
  <div class="welcome__text">
    <h2>WELCOME</h2>
    <h3 class="welcome__text">
      to the digital asset trading app
    </h3>
  </div>
  <div class="barchart-container">
    <app-barchart class="barchart"></app-barchart>
  </div>
  <div class="btn-container">
    <br />
    <a href="#" routerLink="/login" class="btn btn-warning">
      Login
    </a>
    <p>or view demo</p>
    <div class="btn-2">
      <a href="#" routerLink="/crypto" class="btn btn-secondary">
        Crypto
      </a>
      <a href="#" routerLink="/trade" class="btn btn-primary">
        Forex
      </a>
    </div>
  </div>
</div>
