$color3: #fff;
$color1: #5f84fb;
$color2: #00ff9b;
$color3-d: #000;
$color1-d: #2e1d65;
$color2-d: #b290ff;
$color0: #f3f0f1;

span {
  font-weight: bold;
  background: lightgray;
  padding: 0.3em 0.8em;
  cursor: pointer;
}

.welcome {
  text-align: center;
  text-shadow: 1px 2px #fff;
  line-height: 0.8rem;
}

.welcome__wrap {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 110px 250px 220px;
  align-items: center;
  position: relative;
  font-weight: bold;
  color: $color1-d;
}

.barchart__wrap {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.col-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1rem;
}

.btn__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  .btn {
    font-size: 1.6rem;
    width: 16rem;
    height: 3rem;
    background: #f3f0f1;
    position: relative;
    padding-top: 0.8rem;
    text-align: center;
    border-radius: 1.6rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    &:hover {
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      opacity: 1;
    }
  }
  .primary {
    color: $color1;
  }
  .disable {
    opacity: 0.4;
    color: $color2-d;
  }
  .secondary {
    color: $color2;
  }
  .warning {
    color: #f44;
  }
}

@media only screen and (max-width: 750px) {
  .col-2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    row-gap: 1rem;
  }
  .barchart__wrap {
    width: 500px;
  }
}
@media only screen and (max-width: 520px) {
  .barchart__wrap {
    width: 290px;
  }
}
