<div class="container">
  <div class="welcome__text">
    <h1>WELCOME</h1>
    <h1 class="welcome__text">
      to the digital asset trading app
    </h1>
    <app-barchart></app-barchart>
  </div>
  <div class="btn-container">
    <h1>please</h1>
    <div>
      <div class="btn btn-warning">
        <a href="#" routerLink="/login">Login</a>
      </div>
    </div>
    <h1>or view demo</h1>
    <div class="btn-2">
      <div class="btn btn-secondary">
        <a href="#" routerLink="/crypto">Crypto</a>
      </div>
      <div class="btn btn-primary">
        <a href="#" routerLink="/trade">Forex</a>
      </div>
    </div>
  </div>
</div>
